<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Destinitty</title>
	<link rel='stylesheet' href='/styles.css' >
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<%- include('./../Assets/_bootstrap_link') %>

</head>
<body>
	<div class='container-fluid'>
		<div class='row align-items-center d-flex'  id='title-bar'>
			<div class='col-1 offset-10 text-wcdhite'>
				<a href="/account/register" class="text-white text-decoration-none">Register</a>
			</div>
			<div class="col-1 text-white">
				<a href="/account/signin" class="text-white text-decoration-none">Sign In</a>
			</div>
		</div>
		<div class="modal fade" id="modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Sign In</h4>
					</div>
					<div class="modal-body">
						<form novalidate>
							<div class="form-floating">
								<input type="email" id='email' class="form-control" placeholder="email" required>
								<label for='email'>Email</label>
								<div class="invalid-feedback">Invalid Email</div>
								<div class="valid-feedback">Valid Email</div>
								inp
							</div>
							<button class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="#modal">Continue</button>
						</form>
						<script>
							const form = document.querySelector("form");
							form.addEventListener('input', e => {
								if(!form.checkValidity()){
									e.preventDefault()
								}
								form.classList.add('was-validated')
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>