<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Destinitty</title>
	<%- include('./../Assets/_bootstrap_link') %>

</head>
<body>
	<div class='container'>
		<div>Destinitty fe80::d0a5:b079:10ea:cb29The above is inet6of raspberry pi 4b when linked-locally with pc through ethernet cable10.1.198.138IP address of ethernet in cmos lab for raspberry pi
		</div>
	</div>
</body>
</html>