<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Destinitty</title>
	<link rel='stylesheet' href='/styles.css' >
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script defer src="/userAuth.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Orbitron:wght@600&display=swap" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bruno+Ace+SC&family=Orbitron:wght@600&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bruno+Ace+SC&family=Orbitron:wght@600&family=Oswald:wght@300&display=swap" rel="stylesheet">
	<%- include('./../Assets/_bootstrap_link') %>

</head>
<body>
	<div class='container-fluid'>
		<div class='row align-items-center d-flex'  id='header-bar'>
			<div class='col-auto offset-10 gy-2 text-white'>
				<button class="rounded-3 text-white" data-bs-toggle='modal' data-bs-target="#register">
					 Register</button>
			</div>
			<div class="col-auto gy-2 text-white">
				<button class="rounded-3 text-white" data-bs-toggle='modal' data-bs-target="#signin">
					Sign In</button>
			</div>
		</div>
		<div style='position: relative'>
		<div id="dest">
			<a href="/" class="text-decoration-none"><span class="title-start">DESTI</span>
			<span class="title-mid">NITT</span>
			<span class="title-start">Y</span></a>
		</div>
		</div>
		<div class="justify-content-center d-flex text-danger">
			<span><%= mes %></span>
		</div>
		<div class="modal fade" id="signin">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Sign In</h4>
					</div>
					<div class="modal-body">
						<form id="signinChk" action="/" method="POST" novalidate>
							<div class="form-floating" style="margin-bottom:5px">
								<input name="name" type="email" id='Email' class="form-control" placeholder="email" required>
								<label for='email'>Email</label>
								<div class="invalid-feedback">Invalid Email</div>
								<div class="valid-feedback">Valid Email</div>
							</div>
							<div class="form-floating" style="margin-bottom:15px">
								<input name="password" type="password" class="form-control" id="password" placeholder="password" required>
								<label for="password">Password</label>
							</div>
						</form>
						<button class="btn col-12 btn-primary" id="signbtn">Sign In</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="register">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Register New Account</h4>
					</div>
					<div class="modal-body">
						<form id="registerChk" action="/register" method="POST" novalidate>
							<div class="form-floating" style="margin-bottom:5px">
								<input name="name" type="email" id='Reg_Email' class="form-control" placeholder="email" required>
								<label for='email'>Institute Email</label>
								<div class="invalid-feedback">Invalid Email</div>
								<div class="valid-feedback">Valid Email</div>
							</div>
							<div class="form-floating" style="margin-bottom:5px">
								<input name="password" type="password" class="form-control" id="password_new" placeholder="password" required>
								<label for="password">New Password</label>
							</div>
							<div class="form-floating" style="margin-bottom:15px">
								<input type="password" class="form-control" id="password_conf" placeholder="password" required>
								<label for="password">Confirm Password</label>
							</div>
						</form>
						<button class="btn col-12 btn-primary" id="regbtn">Register</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>