<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/styles.css' type='text/css'>
	<title>Destinitty</title>
</head>
<body>
	<div class='top-bar'>
		<h1>Destinitty</h1>
	</div>
</body>
</html>