/* Styles for Destinitty */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#title-bar{
	background-color: rgba(4, 71, 114, 0.8);
	height: 50px;
}

body{
	background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.2)), url('https://raw.githubusercontent.com/akilesh-5101/Destinitty/main/images/NITT.png');
	background-repeat: no-repeat;
	background-size: 100% 100% ;
	height: 100vh;
}

.title{
	font-family: 'Courgette','Roboto-Slab', 'sans-serif', cursive;
	font-size: 30px;
	margin-left: 10%;
}


.image{
	display: block;
}