*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}



body{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/akilesh-5101/Destinitty/main/images/aerial-shot-nitt.png');
	background-repeat: no-repeat;
	background-size: 100% 100% ;
	height: 100vh;
}




